@import url('https://fonts.googleapis.com/css2?family=Abel&familydisplay=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: "Abel";
}

header{
    display: flex;

    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}

header img{
    position: absolute;
    background-color: #ffffff;
    padding: 10px 100% 10px 0%;
    top: 25px;
    
}

header nav div a{
    text-decoration: none;

    display: flex;
    background-color: aqua;
    left: 700px;
    justify-content: space-between;
}

/*início <body>*/

section{
    width: vw;
    height: 100%;
    display: flex;
    /* o flex-direction da página está aplicado em coluna, logo o direcionamento fica inverso.*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittlebox1{
    width: 395px;
    height: 136px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #000000;
    box-shadow: -7px 8px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.texttittlebox1{
    color: #ffffff;
    font-size: 37px;
    font-weight: lighter;
}

.tittlebox2{
    width: 395px;
    height: 136px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #000000;
    box-shadow: -7px 8px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.texttittlebox2{
    color: #ffffff;
    font-size: 27px;
    font-weight: lighter;
}

.tittlebox3{
    width: 650px;
    height: 136px;
    background: #ff0000;
    box-shadow: -7px 8px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

.tittlebox4{
    width: 650px;
    height: 136px;
    background: #a0267b;
    box-shadow: -7px 8px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

.wavesbox{
    width: 750px;
    height: 100%;
    margin-bottom: 50px;
    background: rgba(196, 196, 196, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textwaves{
    padding: 40px 0;
    display: flex;
    color: #000000;
    font-size: 37px;
    font-weight: lighter;
}

.lorem{
    font-size: 21px;
    text-indent: 4em;
    padding: 0px 40px 40px 40px;
}

.box_column2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.box_column3{
    width: 650px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: yellow;
    align-items: center;
}

.box_column4{
    width: 650px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: green;
    align-items: center;
    align-self: flex-end;
   
}

.wavesbox2{
    width: 500px;
    height: 150px;
    background: rgba(196, 196, 196, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wavesbox3{
    width: 500px;
    height: 600px;
    background: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wavesbox4{
    width: 500px;
    height: 150px;
    background: rgba(196, 196, 196, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.wavesbox5{
    width: 500px;
    height: 600px;
    background: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

.wavesbox6{
    width: 1170px;
    height: 150px;
    background: rgba(196, 196, 196, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.wavesbox7{
    width: 1170px;
    height: 300px;
    background: #2db8db;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

.wavesbox8{
    width: 500px;
    height: 600px;
    background: #ff0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-top: 25px;
}

.wavesbox9{
    width: 500px;
    height: 600px;
    background: #a0267b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
}

.box_column3_4{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    background-color: chartreuse;
}