@import url('https://fonts.googleapis.com/css2?family=Abel&familydisplay=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel";
}

header{
    display: flex;
    height: 120px;
    width: 100%;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    padding: 20px 0px 20px 0px;
}

header img{
    display: flex;
    position: relative;
    padding: 20px 80% 20px 0%;
    background-color: #ffffff;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#firstbox{
    position: relative;
    width: 395px;
    height: 136px;
    left: 500px;
    top: 15px;
    background: #000000;
    box-shadow: -7px 8px 4px rgba(0, 0, 0, 0.25);
}

.textfirstbox{
    position: relative;
    left: 75px;
    top: 45px;
    color: #ffffff;
    font-size: 37px;
    font-weight: lighter;
}

#wavesbox{
    position: relative;
    width: 800px;
    height: 600px;
    left: 300px;
    top: 40px;
    background: rgba(196, 196, 196, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textwaves{
    position: relative;
    left: 240px;
    padding: 30px;
    color: #000000;
    font-size: 37px;
    font-weight: lighter;
}

#lorem{
    position: relative;
    font-size: 21px;
    text-align: justify;
    text-indent: 4em;
    padding: 0px 40px 40px 40px;
    
}